:root {
  --NUM_OF_ROWS: 20;
  --NUM_OF_COLUMNS: 20;
  --navy-blue: #34495e;
  --turquoise: #1abc9c;
  --light-blue: #2196f3;
}

.menu-container {
  display: grid;
  background-color: var(--navy-blue);
  height: 8vh;
  color: white;
  font-weight: 400;
  margin-bottom: 5vh;
}

.menu {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100vw;
}

div.ui.button.algorithms {
  width: 250px;
  height: 40px;
  padding: 10px;
  text-align: center;
}

div.menu.transition {
  width: 250px;
}

.title {
  font-size: 2em;
  font-family: sans-serif;
  height: 0px;
}

.grid-container {
  display: grid;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--NUM_OF_COLUMNS), 1fr);
  grid-template-rows: repeat(var(--NUM_OF_ROWS), 1fr);
  background-color: var(--light-blue);
  width: 1000px;
  height: 1000px;
  grid-gap: 1px;
}
.node {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
}

.start-node {
  background-color: var(--navy-blue);
}

.end-node {
  background-color: var(--navy-blue);
}

.visited {
  background-color: yellow;
}

.neighbour-visited {
  background-color: pink;
}

.hover {
  background-color: lightblue;
}
