:root {
  --NUM_OF_ROWS: 15;
  --NUM_OF_COLUMNS: 15;
  --navy-blue: #34495e;
  --light-blue: #2196f3;
  --default-blue: rgba(255, 255, 255, 0.8);
}

.menu-container {
  display: grid;
  background-color: var(--navy-blue);
  height: 8vh;
  color: white;
  font-weight: 400;
  margin-bottom: 5vh;
}

.menu {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100vw;
}

div.ui.button.algorithms {
  width: 250px;
  height: 40px;
  padding: 10px;
  text-align: center;
}

div.menu.transition {
  width: 250px;
}

.title {
  font-size: 2em;
  font-family: sans-serif;
  height: 0px;
}

.grid-container {
  display: grid;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--NUM_OF_COLUMNS), 1fr);
  grid-template-rows: repeat(var(--NUM_OF_ROWS), 1fr);
  width: 1000px;
  height: 1000px;
  grid-gap: 1px;
}
.node {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
}

.start-node {
  background-color: var(--navy-blue);
}

.end-node {
  background-color: var(--navy-blue);
}

.shortest-path-node {
  background-color: pink;
  animation: shortest-path-animation 0.3s ease-in-out;
}

@keyframes shortest-path-animation {
  from {
    background-color: var(--navy-blue);
  }
  to {
    background-color: pink;
  }
}

.visited-node {
  background-color: var(--navy-blue);
  animation: visited-animation 0.3s ease-in-out;
}

@keyframes visited-animation {
  from {
    background-color: white;
  }
  to {
    background-color: var(--navy-blue);
  }
}

.hover {
  background-color: lightblue;
}
